{% extends 'base.html' %}
{% block title %}Poller{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="form-contianer">
    <a class="navbar-brand" href="/home">Poller</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/polls">Todays Poll</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create_quest">Create a Poll</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="form-contianer1">

    <form>
      <h2> {{poll.question_text }} </h2>

        <button type="button" class="btn btn-primary" button id="a">A: {{ poll.a }}</button>
        <button type="button" class="btn btn-primary" button id="b">B: {{ poll.b }}</button>
        <button type="button" class="btn btn-primary" button id="c">C: {{ poll.c }}</button>
        <button type="button" class="btn btn-primary" button id="d">D: {{ poll.d }}</button>
    </form>
    <h3>Stats will appear below once you have answered</h3>
  <p id="response"></p>

<script src="/static/button_handle.js"> </script>
</div>
{% endblock %}
