{% extends 'base.html' %}
{% block title %}Poller{% endblock %}

{% block body %}
<form action="/update_user" method="POST">
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
    </p>

    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
      </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </p>

    <p>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
    </p>
    
    <p>
        <label for="gender">Gender:</label>
        <input type="text" name="gender" id="gender">
    </p>
    
    <p>
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation" id="occupation">
    </p>
    
    <p>
        <label for="state">State:</label>
        <input type="state" name="state" id="state">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}